"Result Name","What is your favorite color?","Are you a color kid?"
"Red Butler","Red","Yes"
"Lala Orange","Orange","Yes"
"Canary Yellow","Yellow","Yes"
"Patty O'Green","Green","Yes"
"Buddy Blue","Blue","Yes"
"Indigo","Indigo","Yes"
"Shy Violet","Violet","Yes"
"Rainbow Brite","All of them!","No"
"Murky Dismal","None of them, blech","No"